html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.body {
  margin: 0px;
  background-color: $background-color-primary;
  font-family: $font-family-main;
  color: $text-color-primary;
  font-weight: normal;
  font-style: normal;
  z-index: 1;
}
.section {
  padding-top: 94px;
  justify-content: center;
}
.section-no-padding {
  padding-top: 0px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: $mobile) {
}
@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: $text-color-title;
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.text {
  margin: 0;
  padding: 0;
}
.image {
  display: block;
}
.link {
  text-decoration: none;
  color: $text-color-title;
  transition: background-color $timing-function $transition-duration,
    color $timing-function $transition-duration,
    border $timing-function $transition-duration,
    fill $timing-function $transition-duration;
  &:hover,
  &:focus {
    outline: none;
    color: $accent-color-primary;
  }
}
.button {
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  background-color: $background-color-button;
  color: $button-color;
  min-width: 200px;
  display: inline-block;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px transparent;
  cursor: pointer;
  transition: background-color $timing-function $transition-duration,
    color $timing-function $transition-duration;
  &:hover,
  &:focus {
    outline: none;
    color: $button-accent-color;
  }
}
.accent {
  color: $accent-color-primary;
  text-decoration: underline;
}
textarea {
  resize: none;
}
.label {
  display: inline-block;
  position: absolute;
  z-index: 2;
  border: none;
  padding-left: 23px;
}
.icon {
  display: block;
}
.hidden {
  display: none;
}
