.header-menu-button .icon-header-menu-close {
  display: none;
}
.header-menu-button.is-open .icon-header-menu-close {
  display: block;
}
.header-menu-button.is-open .icon-header-menu {
  display: none;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $background-color-primary;
  & .container {
    position: relative;
  }
}
.header-menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $background-color-primary;
  text-align: center;
  height: 100px;
  display: none;
  &.is-open {
    display: block;
  }
}
@media screen and (min-width: $mobile) {
  .header {
    padding: 16px 23px 16px 15px;
  }

  @media screen and (min-width: $tablet) {
    & .container {
      display: flex;
      align-items: center;
    }
  }

  // .header {
  //   padding: 26px 15px 26px 15px;
  //
  // }
}
@media screen and (min-width: $desktop) {
  .header {
    padding: 24px 0 30px 0;
    & .container {
      display: flex;
      align-items: center;
      height: 26px;
    }
    & .navigation {
      margin-left: 85px;
      margin-right: 305px;
    }
  }
}
