.navigation {
  & .list {
    display: flex;
    & .item {
      position: relative;
    }
    & .current::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color-primary;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(35px);
      border-radius: 2px;
    }

    & .item:not(:last-child) {
      margin-right: 30px;
    }
  }

  & .link.current {
    color: $accent-color-primary;
  }
}

@media screen and (min-width: $mobile) {
}
@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}
