.address {
  & .list {
    display: flex;
    align-items: center;
    & .item {
      align-items: center;
      justify-content: center;
      min-width: 160px;
    }
    & .link:hover,
    :focus {
      color: $accent-color-primary;
      fill: $accent-color-primary;
    }
  }
  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .link {
    display: flex;
    color: $text-color-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
  & .image {
    margin-right: 10px;
    fill: currentColor;
    &:first-child {
      padding-top: 2px;
      width: 16px;
      height: 12px;
    }
    &:last-child {
      width: 10px;
      height: 15px;
    }
  }
}
@media screen and (min-width: $mobile) {
}
@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}
