.advantages {
  display: flex;
  & h2 {
    display: none;
  }
  & .title {
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  & .text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  & .list {
    & .item::before {
      content: '';
      display: block;
      margin-bottom: 30px;
      background-color: #f5f4fa;
      height: 120px;
      border-radius: 4px;
      padding: 25px 102px;
      background-position: center;
      background-repeat: no-repeat;
    }
    & .item:nth-child(1)::before {
      background-image: url('../images/AdvantDetails.svg');
    }
    & .item:nth-child(2)::before {
      background-image: url('../images/AdvantPunctual.svg');
    }
    & .item:nth-child(3)::before {
      background-image: url('../images/AdvantPlanning.svg');
    }
    & .item:nth-child(4)::before {
      background-image: url('../images/AdvantModerntech.svg');
    }
  }
}

@media screen and (min-width: $mobile) {
  .advantages {
    text-align: center;
    & .text {
      text-align: left;
      max-width: 450px;
    }
    & .list {
      & .item:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
  .advantages {
    padding-bottom: 94px;
    display: flex;

    & .text {
      max-width: 270px;
    }
    & .list {
      display: flex;
      & .item:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
