@media screen and (min-width: $mobile) {
}
@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
  .team {
    padding-bottom: 94px;
    background-color: #f5f4fa;
    & .title {
      margin-bottom: 50px;
      text-align: center;
    }
    & .list {
      display: flex;
      & .image {
        margin-bottom: 30px;
      }
      & .text {
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
      }
      & .member {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 10px;
        margin-top: 0;
      }
      & .item {
        background-color: #ffffff;
        width: 270px;
        height: 422px;
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 24px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
          0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
      }
      & .item:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
