.footer {
  background-color: $background-color-footer;
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer-address .logo {
  margin-bottom: 20px;
}
.footer .stud {
  color: #ffffff;
}
.footer-address {
  padding-left: 5px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address .address {
  margin-top: 20px;
}
.credits {
  display: block;
}
.credits .item {
  display: block;
  margin-top: 9px;
}
.footer .text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.location {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.social-network-block {
  padding-top: 6px;
  margin-left: 69px;
  & .text {
    margin-bottom: 20px;
  }
  & .list {
    padding: 0;
  }
}

.subscribe {
  margin-bottom: 20px;
}
.subscribe-block {
  padding-top: 6px;
  margin-left: 94px;
}
.subscribe-button {
  display: flex;
  margin: 0;
  align-items: center;
}
.subscribe-button::after {
  width: 24px;
  height: 24px;
  content: '';
  margin-left: 11px;
  background-size: contain;
  background-image: url(../images/send.svg);
}
.subscribe-email {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: $background-color-footer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-address .list {
  display: block;
}
@media screen and (min-width: $mobile) {
}
@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}
