.portfolio {
  margin-top: 80px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-buttons {
  justify-content: center;
  display: flex;
  padding-bottom: 50px;
}
.portfolio-buttons .button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
  min-width: 73px;
}
.portfolio-buttons .button:hover,
.portfolio-buttons .button:focus {
  outline: none;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.portfolio-buttons .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-buttons .current {
  color: #ffffff;
  background-color: $accent-color-primary;
}
.portfolio .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-projects .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-projects .item {
  padding-bottom: 20px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 370px;
  height: 405px;
}
.project-text {
  color: #757575;
  padding-top: 20px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-projects .title {
  margin-bottom: 4px;
}
.portfolio-projects .project-text {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.portfolio-link {
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  outline: none;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.techcrack {
  padding: 63px 24px;
  margin: 0;
  position: absolute;
  top: 0;
  background: $background-color-techcrack;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: opacity $timing-function $transition-duration,
    transform $timing-function $transition-duration;
}
.portfolio-link:hover .techcrack,
.portfolio-link:focus .techcrack {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (min-width: $mobile) {
}
@media screen and (min-width: $tablet) {
}
@media screen and (min-width: $desktop) {
}
