$text-color-primary: #757575;
$text-color-second: #ffffff;
$text-color-title: #212121;

$font-family-main: 'Open Sans', Roboto, sans-serif;
$font-family-logo: 'Open Sans', Raleway, sans-serif;

$accent-color-primary: #2196f3;

$background-color-footer: #2f303a;
$background-color-primary: #ffffff;
$background-color-team: #f5f4fa;
$background-color-button: #2196f3;
$background-color-social-link: #afb1b8;
$background-color-techcrack: rgba(33, 150, 243, 0.9);
$background-color-hero: rgba(47, 48, 58, 0.8);

$linear-gradient-hero: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.8),
  rgba(47, 48, 58, 0.8)
);

$button-color: #ffffff;
$button-accent-color: orange;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
